<%= button_to "Back", :back %>
<h1>My Projects/Activities</h1>

<% @myevents.each do |event|%>
  <ul>
    <li>Name: <%= event.title %> <%= link_to "Show", event_path(event) %> | <%= link_to "Edit", edit_event_path(event) %> </li>
    <li>Requests:</li>
    <ul> 
      <% event.requests.each do |request| %>
        <li>Event Name: <%= request.event.title %> | <%= link_to "Show Event", event_path(request.event) %></li>
        <li>Requested by: <%= request.user.name %></li>
        <li>Current status: <%= request.status %></li>
        <%# <%= button_to "Accept", edit_request_path %>
        <% if request.status == "pending" %>
          <%= button_to validate_request_path(id: request, value: "accepted"), method: :patch do %>
            <p>Accept</p>
          <% end %>
          <%= button_to validate_request_path(id: request, value: "declined"), method: :patch do %>
            <p>Decline</p>
          <% end %>
        <% end %>
        <%# <% raise %>
        <br>
      <% end %>
    </ul>

  </ul>
<% end %>
