<div class="navbar navbar-light bg-light navbar-body fixed-top navbar-expand-sm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :style => "height: 70px; margin-left: 10px" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-right collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-links d-flex align-items-center">
      <%= link_to "Home", root_path %>
      <%= link_to "Find", events_path %>
      <%= link_to "Create", new_event_path %>
      <% if user_signed_in? %>
        <%= link_to "Messages", root_path %>
        <%= link_to "Profile", root_path %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <div class= "navbar-profile-img" >
          <%= cl_image_tag current_user.image.key %> 
        </div>
      <% else %>
        <%=link_to "Login", new_user_session_path %>  
        <%=link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>