<div class="navbar navbar-light bg-light navbar-body fixed-top navbar-expand-sm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :style => "height: 70px; margin-left: 10px" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-right collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-links d-flex align-items-center">
      <%= link_to "Find", events_path %>
      <%= link_to "Create", new_event_path %>
      <%= link_to "Feedback", root_path %>
      <%= link_to "About", root_path %>
      <% if user_signed_in? %>
        
        
        <div class="collapse navbar-collapse" id="navbar-list-4">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle navbar-profile-img" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                  <%= cl_image_tag current_user.image.key, class: "avatar" %> 

              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Messages", root_path, class: "dropdown-item" %>
                <%= link_to "Events Overview", events_overview_path, class: "dropdown-item" %>
                <%= link_to "Requests Overview", requests_path, class: "dropdown-item" %>
                <%= link_to('Logout', destroy_user_session_path, class: "dropdown-item", :method => :delete) %>
              </div>
            </li>   
          </ul>
        </div>
      <% else %>
        <%=link_to "Login", new_user_session_path %>  
        <%=link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>