<div class="event-index-section">
  <div class="container">
    <div class="event-index-header d-flex justify-content-center">
      <h1>Projects and Activities</h1>
    </div>
    <div class="event-index-categories">
      (here the cateogires would be)
    </div>
    <div class="event-index-events row">
      <% @events.each do |event| %>
        <div class="event-card-with-category col-lg-4 col-12 col-md-6">
          <div class="event-card">
            <%= link_to event_path(event) do %>
              <div class="event-text">
                <h1><%= event.title %></h1>
                <p><%= event.description %></p>
              </div>
            <% end %>
            <div class="event-other-info d-flex align-items-center">
              <div class="event-index-participants">
                <%= cl_image_tag event.user.image.key, height: 30, width: 30 %>
                <%= event.user.name %>
              </div>
              <div class="event-index-date-location">
                <p><%= event.date.strftime("%e %b %Y") %></p>
                <p><%= event.location %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>