<div class="event-index-section">
  <div class="container">
    <div class="event-index-header d-flex justify-content-center">
      <h1>Projects and Activities</h1>
    </div>
    <div class="event-index-categories">
      (here the cateogires would be)
    </div>
    <div class="event-index-events row">
      <% @events.each do |event| %>
        <div class="event-card-with-category col-lg-4 col-12 col-md-6">
          <div class="event-card-category event-card-category-<%= event.category.category %>">
            <p><%= event.category.category %></p>
            </div>
          <div class="event-card background">
            <%= link_to event_path(event) do %>
              <div class="event-text">
                <%= cl_image_tag event.image.key, class: "event-index-image" %>
                <div class="event-title-description d-flex align-items-center">
                  <h1><%= event.title %></h1>      
                </div>
              </div>
            <% end %>
            <div class="event-other-info d-flex align-items-center">
              <div class="event-index-participants d-flex align-items-center">
                <%= cl_image_tag event.user.image.key, height: 30, width: 30 %>
                <p><%= event.user.name %></p>
              </div>
              <div class="event-index-card-divider" style="width: 5%"></div>
              <div class="event-index-date-location">
                <div class="event-date d-flex">
                  <%= image_tag "calendar-icon", class:"date-location-icon"%>
                  <p><%= event.date.strftime("%e %b %Y") %></p>
                </div>
                <div class="event-location d-flex align-items-center">
                  <%= image_tag "location-icon", class:"date-location-icon"%>
                  <p><%= event.location %></p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>