<%= link_to "Back", :back %>
<h1>Create new Event</h1>


<%= form_for(@event) do |f| %>
  <%= f.text_field :title %>
  <%= f.select :category, [["Sports", 1], ["Project", 2], ["Creative", 3], ["Startup", 4], ["Social", 5], ["Other", 6]], :prompt => "Select One" %>
  <%# <%= f.select :category, ["Sports", "Project", "Creative", "Startup", "Social", "Other"], :prompt => "Select One" %>
  <%# <%= f.select(:person, :city_id, [['Lisbon', 1], ['Madrid', 2], ['Berlin', 3]]) %> 

  <%= f.text_area :description %>
  <%= f.file_field :image %>
  <%= f.date_field :date %>
  <%= f.time_field :time %>
  <%= f.text_field :location %>
  <%= f.submit "Create" %>
<% end %>