<div class="section section-event-create-first">
  <div class="container">
    <%= form_for(@event) do |f| %>
      <div class="big-card">
        <div class="event-create-header ">
          <h1>Create your own Event</h1>
        </div>
        <div class="event-create-step">
          <h4>Step 1: General Information</h4>
        </div>
        <div class="d-flex justify-content-between">
          <div class="event-create-first-image-upload d-flex justify-content-around align-items-center event-create-first ">
            <div class="event-create-first-image-upload-button">
              <div class="d-flex justify-content-center w-100 padding-100">
                <%= image_tag ("image-icon"), style:"height: 50px" %>
              </div>
              
              <%= f.file_field :image, class: "event-create-first-image-upload-button-button" %>
            </div>
              
          </div>
          <div class="event-create-first-other event-create-first">
            <h5>Select a Category:</h5>
            <div id="event-create-category">
              <%= f.select :category, [["Sports", 1], ["Project", 2], ["Creative", 3], ["Startup", 4], ["Social", 5], ["Other", 6]], :prompt => "Select One" %>
            </div>
            
            <div class="divider divider-line-horizontal "></div>
            <div class="event-create-title-description form-input">
              <h5>Enter a Name and Description:</h5>
              <%= f.text_field :title, placeholder: "Name of the Project/Activity" %>
              <%= f.text_area :description, placeholder: "Decription of the Project/Activity" %>
            </div>
          </div>
        </div>

        <div class="event-create-divider divider-line-horizontal ">
        </div>
        <div class="event-create-step">
          <h4>Step 2: Date and Time</h4>
        </div>
        <div class="event-create-time-date">
          <div class="event-create-date d-flex form-input">
            <h5>Select Date: </h5>	
            <div class="event-create-date-time-spacer"></div>
            <%= f.date_field :date, placeholder: "Select Date" %>
          </div>
          <div class="event-create-time d-flex form-input">
            <h5>Select Time: </h5>	
            <div class="event-create-date-time-spacer"></div>
            <%= f.time_field :time %>
          </div>
        </div>

        <div class="event-create-divider divider-line-horizontal ">
        </div>
        <div class="event-create-step">
          <h4>Step 3: Location</h4>
        </div>
        <div class="event-create-locations form-input">
          <div class="event-create-general-location d-flex">
            <h5>Select general Location: </h5>	
            <div class="event-create-date-time-spacer"></div>
            <%= f.text_field :location, placeholder: "Enter the general location" %>
          </div>
          <div class="event-create-exact-location d-flex">
            <h5>Select exact Location: </h5>	
            <div class="event-create-date-time-spacer"></div>
            <%= f.text_field :exact_location, placeholder: "Enter the exact location" %>
          </div>
        </div>

        <div class="event-create-divider divider-line-horizontal ">
        </div>
        <div class="event-create-step">
          <h4>Step 4: Stuff to bring:</h4>
        </div>
        <div class="event-create-bring-with form-input d-flex">
          <h5>If necessary, enter what people should bring: </h5>	
          <div class="event-create-date-time-spacer"></div>
          <%= f.text_area :bring_with, placeholder:"Stuff people should bring..." %>
        </div>
        <div class="event-create-submit d-flex justify-content-between">
          <%= f.submit "Create", class:"btn btn-standard btn-big event-create-submit-button" %>
        </div>
      </div>
    <% end %>  
  </div>
</div>






<%= link_to "Back", :back %>
<h1>Create new Event</h1>


<%= form_for(@event) do |f| %>
  <%= f.text_field :title %>
  <%= f.select :category, [["Sports", 1], ["Project", 2], ["Creative", 3], ["Startup", 4], ["Social", 5], ["Other", 5]], :prompt => "Select One" %>
  <%# <%= f.select :category, ["Sports", "Project", "Creative", "Startup", "Social", "Other"], :prompt => "Select One" %>
  <%# <%= f.select(:person, :city_id, [['Lisbon', 1], ['Madrid', 2], ['Berlin', 3]]) %> 

  <%= f.text_area :description %>
  <%= f.file_field :image %>
  <%= f.date_field :date %>
  <%= f.time_field :time %>
  <%= f.text_field :location %>
  <%= f.submit "Create" %>
<% end %>