<div class="section-event-show">
  <div class="container">
    <div class="big-card">
      <div class="event-show-card-top d-flex">
        <div class="event-show-card-image">
          <%= cl_image_tag @event.image.key %>
        </div>
        <div class="event-show-card-info">
          <h1><%= @event.title %></h1>
          <div class="event-show-card-host d-flex align-items-center">
            <%= cl_image_tag @event.user.image.key, height: 45, width: 45 %>
            <p><%= @event.user.name %></p>
          </div>
          <div class="event-show-card-date-time d-flex">
            <p>DATE: <%= @event.date.strftime("%e %b %Y") %> | LOCATION: <%= @event.location %></p>
          </div>
        </div>
      </div>
      <div class="event-show-card-bottom">
        <p><%= @event.description %></p>
        <div class="event-show-card-request-question d-flex">
          <%= cl_image_tag @event.user.image.key, height: 75, width: 75 %>
          <div class="event-show-card-form">
            <%= form_for (@request) do |f| %>
              <%= f.text_area :description, value: "Say why you want to join 😊 ..." %>
              <div class="event-show-card-request-question-submit d-flex justify-content-end action">
                <%= f.submit "Send!", class: "btn btn-primary d-flex justify-content-end" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<%= link_to "Back to all Projects and Activities", events_path %>

<h1><%= @event.title %></h1>
<%= cl_image_tag @event.image.key %>
<p>Category: <%= @event.category.category %></p>
<p>Description: <%= @event.description %></p>
<p>Date: <%= @event.date %></p>
<p>Time: <%= @event.time %></p>
<p>Location: <%= @event.location %></p>
<p>Host: <%= @event.user.email %></p>

<% if user_signed_in? %>
  <% if @event.user_id == current_user.id %>
    <%= link_to "Edit your event", edit_event_path(@event) %>
  <% else %>
    <% if @request_done == nil %>
      <%= button_to "Join!", event_requests_path(@event), method: :post %>
    <% else %>
      <p>Status for this project/activity: <%= @current_user.requests.find_by(event: @event).status %></p>
    <% end %>
  <% end %>
<% else %>
        <%= button_to "Join!", event_requests_path(@event), method: :post %>
<% end %>

<%# <% raise %>
