<%= link_to "Back to all Projects and Activities", events_path %>

<h1><%= @event.title %></h1>
<%= cl_image_tag @event.image.key %>
<p>Category: <%= @event.category.category %></p>
<p>Description: <%= @event.description %></p>
<p>Date: <%= @event.date %></p>
<p>Time: <%= @event.time %></p>
<p>Location: <%= @event.location %></p>
<p>Host: <%= @event.user.email %></p>

<% if user_signed_in? %>
  <% if @event.user_id == current_user.id %>
    <%= link_to "Edit your event", edit_event_path(@event) %>
  <% else %>
    <% if @request_done == nil %>
      <%= button_to "Join!", event_requests_path(@event), method: :post %>
    <% else %>
      <p>Status for this project/activity: <%= @current_user.requests.find_by(event: @event).status %></p>
    <% end %>
  <% end %>
<% else %>
        <%= button_to "Join!", event_requests_path(@event), method: :post %>
<% end %>

<%# <% raise %>
