<div class="home-banner">
  <div class= "container">
    <div class="home-banner-text">
      <h1 class="home-banner-header">
        Do what you want to do!
      </h1>
      <p class="home-banner-explanation">
        With Joind you can find and create any Project or Activitiy with likeminded students!
      </p>
      <div class="home-banner-buttons">
        <button class="btn btn-light btn-big">
          <%=link_to "Create!", new_event_path %>
        </button>
        <button class="btn btn-primary btn-standard btn-big">
          <%=link_to "Find!", events_path %>
        </button>
      </div> 
    </div>
  </div>
</div>

<%# <div class="section-instruction-cards">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="instruction-card-find instruction-card text-center">
      <h1>Find</h1>
      <p>Choose from various projects and activites others have created and join them!</p>
    </div>
    <div class="instruction-card-create instruction-card text-center">
      <h1>Create</h1>
      <p>Create your own projects or activites which others can then join!</p>
    </div>
    <div class="instruction-card-experience instruction-card text-center">
      <h1>Experience</h1>
      <p>Experience a new and better level of free time at University!</p>
    </div>
  </div>
</div> %>

<div class="section-guide-cards">
  <div class="container">
    <div class="big-card d-flex justify-content-between">
      <div class="guide-card guide-card-find text-center">
        <h1>Find</h1>
        <%=image_tag "ill_find.png" %>
        <p>Choose from various parojects and activities others have created and join them!</p>
      </div> 
      <div class="divider-line"></div>
      <div class="guide-card guide-card-create text-center">
        <h1>Create</h1>
        <%=image_tag "ill_create.png" %>
        <p>Create your own projects or activites which others can then join!</p>
      </div> 
      <div class="divider-line"></div>
      <div class="guide-card guide-card-experience text-center">
        <h1>Experience</h1>
        <%=image_tag "ill_experience.png" %>
        <p>Experience a new and better level of free time at University!</p>
      </div> 
    </div>
  </div>
</div>

<div class="section-explanation">
  <div class="container d-flex justify-content-center">
    <div class="explanation-card d-flex">
      <div class="explanation-card-text">
        <h1>A new world of things and people is here for you to discover!</h1>
        <p>- Do the activities you always wanted to try out!<br>
          - Start or join the projects that define you!<br>
          - Meet the people who you always wanted to meet<br>
          - Stop rewatching “The Office” for the 9th time!</p>
      </div>
      <div class="explanation-card-image"></div>
    </div>

  </div>
  <div class="container">
    <div class="explanation-buttons">
      <button class="btn btn-light btn-big">
        <%=link_to "More About Joind", pages_about_path %>
      </button>
      <button class="btn btn-standard btn-primary btn-big">
        <%= link_to "Join Something!", events_path %>
      </button>
    </div>
  </div>
</div>




<h1>Home</h1>

<ul>
  <li><%=link_to "Find Projects/Activities", events_path %></li>
  <li><%=link_to "Create Something", new_event_path %></li>
  <% if user_signed_in? %>
    <li><%=link_to "My Profile", user_path(current_user) %></li>
    <li><%=link_to "Messages", root_path %></li>
  <% end %>
  <li><%=link_to "Requests Overview", requests_path %></li>
  <li><%=link_to "Events Overview", events_overview_path %></li>
  <li><%=link_to "About", pages_about_path %></li>
  <li><%=link_to "Feedback", pages_feedback_path %></li>
  <br>
  <li><%=link_to "Login", new_user_session_path %></li>
  <li><%=link_to "Sign up", new_user_registration_path %></li>
  <li><%=button_to "Sign out", destroy_user_session_path, :method => :delete %></li>
</ul>
<%# <% raise %>
<% if current_user != nil %>
  <p>You are signed in as <%= @user.email %></p>
<% else %>
  <p>You are currently not signed in </p>
<% end %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>